html, body{
    margin: 0px;
    background-color: #2F4F30;
    color:red;
}


.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -80px;
}

#computadora-cartas, #jugador-cartas{
    
    height: 240px;
    
}